<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>vue-email-list</title>
</head>
<body>
    <div id="app">
        <h1>repo: <br> vue-email-list</h1>
        <ul v-if="mailArr.length == 10">
            <li v-for="(mail, index) in mailArr">{{mail}}</li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>
</html>


<!-- 
Descrizione:
Attraverso l’apposita API di Boolean
https://flynn.boolean.careers/exercises/api/random/mail
generare 10 indirizzi email e stamparli in pagina all’interno di una lista. -->